<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>


<%= link_to 'Edit', edit_song_comment_path(@song, @comment) %> |

        


<%= link_to 'Back', song_comments_path(@song) %>


 <%#= render partial: "comments/comments", locals: {comments: @artist.songs} %>
