body {
background-color: 3f444a;
}

.lovesound_image {
  content:url(/assets/lovesound.png);
  text-align: center;
  width: 970px;
  clear: both;
  display: inline-block;
  z-index: -1;
  margin-left: 5px;
}




.wrapper {
  width: 980px;
  margin: 0 auto;
  z-index: -1;
  clear: both;
  margin-top: 115px;

  
}

#login {
  width: 100px;
  height: 50px;
  background: red;
  color: white;
  margin-top: -300px;
  margin-left: 650px;
}

#signup {
  width: 100px;
  height: 50px;
  background: yellow;
  color: white;
  margin-left: 750px;
  margin-top: -50px;
}

#musicslogen {
  margin-top: 250px;
  text-align: center;
  font-family: helvetica;
  font-size: 50px;
  color: white;
}

.wave {
  content:url(/assets/wave1.png);
  clear: both;
  display: inline-block;
  width: 100px;
  margin-top: 20px;
  margin-left: 200px;
  height: 25px;
}

.user_background {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  width:  auto;
  height: 100%
}

.beta {
  z-index: 7;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -10px;
  margin-right: -12px;
  content:url(/assets/beta.png);

}



.comment {
  background-color: black;  
}



.sound_icon {
  content:url(/assets/sound_icon.png);
  display: inline-block;
}

.songs {
  border: 2px, solid, black;
}

.edit_details {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  text-align: center;
  color: #ff6d00;
  margin-top: -50px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}


.show_editing {
  float: left;
}

.show_editing .fields{
  float:left;
  width: 45%;
}












@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}


h3 { 
    position: relative; 
    float: left;
    font-size:150%;
}

h3 span {
    position:absolute;
    top:0;
    right:0;
    width:0;
    background: #3f444a; /* same as background */
    border-left: .1em solid black;

    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-animation: typing 1s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 17s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}

h5 { 
    position: relative; 
    float: left;
    font-size:150%;
}






























