
  <form id="contact" action="/home" method="post">
    <h4 class="message">Sssh! We have been live for a day now and keep in mind that this is experimental. Things may break as we haven’t finished adding all the dials and knobs we’re working on. Please feel free to report on any user experience issues or errors you come across. </h4>

    <br/>
    <fieldset id="your_name">
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <br/>
    <fieldset id="your_email">
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
        <br/>

    <fieldset id="your_phone">
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
        <br/>

    <fieldset id="your_website">
      <input placeholder="Your Web Site - include http://" type="url" tabindex="4" required>
    </fieldset>
              <br/>

    <fieldset id="your_message">
      <textarea  rows="4" cols="47" placeholder="Type your Message Here...." tabindex="5" required></textarea>
    </fieldset>
    <br/>

    <fieldset id="your_submit">
      <button name="submit" type="submit" id="bigbutton" data-submit="...Sending">Submit</button>
    </fieldset>
    <br/>
  </form>
 
