  <div class="broken"> </div>

  <div class="container">  
  <form id="contact" action="/home" method="post">
    <h4>Sssh! We have been live for a day now and keep in mind that this is experimental. Things may break and we haven’t even finished adding all the dials and knobs we’re working on. Please feel free to report on any user experience issues or errors you come across. </h4>

    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Web Site - include http://" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
    </fieldset>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
 
  
</div>