<div class="loginspeaker"> </div>


<div class="edit_details">Featured artist of the week</div>

 <article>
    <div class="card-header">
      <img class="profile-photo" src="http://s.cdpn.io/27480/biggie.jpg">
      <a href="#"><button type="button">Follow</button></a>
    </div>
    <ul class="card-links">
      <a href="#">
        <li>
          <i class="icon icon-user"></i><span class="label11">Profile</span>
        </li>
      </a>
      <hr>
      <a href="#">
        <li class="active">
          <i class="icon icon-list-alt"></i><span class="label11">Activity</span><span class="label-notification label-active">44</span>
        </li>
      </a>
      <hr>
      <a href="#">
        <li>
          <i class="icon icon-time"></i><span class="label11">Timeline</span>
        </li>
      </a>
      <hr>
      <a href="#">
        <li>
          <i class="icon icon-file-text-alt"></i><span class="label11">Files</span><span class="label-notification">12</span>
        </li>
      </a>
      <hr>
      <a href="#">
        <li class="link-favorites">
          <i class="icon icon-heart"></i><span class="label11">Favorites</span><span class="label-notification">174</span>
        </li>
      </a>
    </ul>
  </article>



<div id="cssSlider">
  <div id="sliderImages">
        <img id="si_1" src="http://f.cybrox.eu/codepen/slider/slide1.jpg" alt="" />
        <img id="si_2" src="http://f.cybrox.eu/codepen/slider/slide2.jpg" alt="" />
        <img id="si_3" src="http://f.cybrox.eu/codepen/slider/slide3.jpg" alt="" />
        <img id="si_4" src="http://f.cybrox.eu/codepen/slider/slide4.jpg" alt="" />
        <img id="si_5" src="http://f.cybrox.eu/codepen/slider/slide5.jpg" alt="" />
        <div style="clear:left;"></div>
    </div>
</div>




     