<div class="animated_text">
<h3>The world's smallest online music community. Sign in to begin your journey.<span>&nbsp;</span></h3>
</div>

<body class="home page page-id-4 page-template-default custom-background single-author singular two-column left-sidebar">



<div class="demo-wrapper">
<!-- classnames for the pages should include: 1) type of page 2) page name-->
  <div class="s-page random-restored-page">
    <h2 class="page-title">Some minimized App</h2>
    <div class="close-button s-close-button">x</div>
  </div>
  <div class="s-page custom-page">
    <h2 class="page-title">Thank You!</h2>
    <div class="close-button s-close-button">x</div>
  </div>
  <div class="r-page random-r-page">

    <div class="page-content">
      <h2 class="page-title">Why Love Music?</h2>
      <div class="home_image">
      <img src="http://academichelp.net/wp-content/uploads/2012/07/music-thinking.jpg">
      </div>
<br/>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum tellus ut nunc porta rutrum. Suspendisse in ligula id arcu auctor sagittis. Maecenas dapibus enim in est auctor adipiscing. Pellentesque luctus porttitor ultricies. Vivamus aliquam in massa non elementum. Integer interdum cursus ultrices. Phasellus vitae imperdiet est. Cras non interdum elit. Pellentesque lorem mi, convallis nec risus sit amet, adipiscing fermentum nisi. Suspendisse rutrum risus in tellus semper, vitae laoreet lacus consequat.

<p>Nunc varius in ligula non ornare. In sed dolor neque. Quisque ac leo leo. Nulla molestie libero consequat placerat vestibulum. Aliquam semper tortor at est ullamcorper, in porttitor justo ornare. Quisque pharetra, velit nec rutrum molestie, leo mi imperdiet libero, eu consectetur nunc massa nec dolor. Quisque aliquam mauris posuere diam varius euismod. Vestibulum gravida venenatis libero, ac egestas sem fringilla eu. Nulla facilisi.</p>

<p>Etiam ipsum mi, vulputate egestas ipsum vel, condimentum adipiscing tortor. Cras sed felis tortor. Nulla pretium non sapien a elementum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam euismod lacus justo, nec convallis metus mattis et. Sed rhoncus porta mauris sed vehicula. Maecenas hendrerit sem sit amet convallis porttitor.</p>

<p>Donec adipiscing porta metus ac sollicitudin. Donec interdum odio at tristique dictum. Integer dapibus turpis nec suscipit interdum. Sed aliquam lorem vitae nunc tincidunt rutrum. Morbi placerat venenatis quam pharetra ultrices. Fusce sit amet fringilla orci. Praesent tristique est porttitor volutpat malesuada. Donec dignissim nibh sit amet leo viverra facilisis. Phasellus tortor ipsum, aliquam porta odio id, gravida vestibulum augue. Nunc non tellus vitae lacus iaculis commodo. Duis sed ipsum at metus ultrices volutpat in in urna. Donec gravida justo hendrerit felis volutpat, vitae auctor tellus imperdiet. Fusce a elit sit amet odio condimentum tempor sit amet in mi. Donec eget porta nibh. Etiam vitae leo eget nibh auctor pulvinar id ac arcu. Ut nec facilisis leo.</p>
      </p>
    </div>
    
    <div class="close-button r-close-button">x</div>
  </div>
<!--each tile should specify what page type it opens (to determine which animation) and the corresponding page name it should open-->
  <div class="dashboard clearfix">
    <ul class="tiles">
      <div class="col1 clearfix">
        <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-r-page">
          <div><p>New Music</p></div>
          <div><p>Your favourite artist</p></div>
        </li>
        <li class="tile tile-small tile tile-2 slideTextRight" data-page-type="s-page" data-page-name ="random-restored-page">
          <div><p class="icon-arrow-right"></p></div>
          <div><p>Let the world see your talent</p></div>
        </li>
        <li class="tile tile-small last tile-3" data-page-type="r-page" data-page-name="random-r-page">
          <p class="icon-calendar-alt-fill"></p>
        </li>
        <li class="tile tile-big tile-4 fig-tile" data-page-type="r-page" data-page-name="random-r-page">
          <figure>
            <img src="http://grantfundingexpert.org/wp-content/uploads/grantsecrets/grant%20funding%20expert%20chris%20johnson%20community%20grants.jpg" />
            <figcaption class="tile-caption caption-left">Friendly community</figcaption>
          </figure>
        </li>
      </div>

      <div class="col2 clearfix">
        <li class="tile tile-big tile-5" data-page-type="r-page" data-page-name="random-r-page">
          <div><p><span class="icon-cloudy"></span>Love Music</p></div>
        </li>
        <li class="tile tile-big tile-6 slideTextLeft" data-page-type="r-page" data-page-name="random-r-page">
          <div><p><span class="icon-skype"></span>Featured</p></div>
          <div><p>Featured Artist</p></div>
        </li>
        <!--Tiles with a 3D effect should have the following structure:
            1) a container inside the tile with class of .faces
            2) 2 figure elements, one with class .front and the other with class .back-->
        <li class="tile tile-small tile-7 rotate3d rotate3dX" data-page-type="r-page" data-page-name="random-r-page">
          <div class="faces">
            <div class="front"><span class="icon-picassa"></span></div>
            <div class="back"><br/><br/>Instagram</div>
          </div>
        </li>
        <li class="tile tile-small last tile-8 rotate3d rotate3dY" data-page-type="r-page" data-page-name="random-r-page">
          <div class="faces">
            <div class="front"><span class="icon-instagram"></span></div>
            <div class="back"><br/><br/>Twitter</div>
          </div>
        </li>
      </div>

      <div class="col3 clearfix">      
        <li class="tile tile-2xbig tile-9 fig-tile" data-page-type="custom-page" data-page-name="random-r-page">
          <figure>
            <img src="http://scienceillustrated.com.au/blog/wp-content/uploads/2012/06/music.jpg" />
            <figcaption class="tile-caption caption-bottom"><br/><p>YouTube Audio Integration</p>
            </figure>
        </li>
        <li class="tile tile-big tile-10" data-page-type="s-page" data-page-name="custom-page">
       
        </li>
      </div>
    </ul>
  </div><!--end dashboard-->

</div>

<script>

(function(){
    //get the background-color for each tile and apply it as background color for the cooresponding screen
    $('.tile').each(function(){
        var $this= $(this),
            page = $this.data('page-name'),
            bgcolor = $this.css('background-color'),
            textColor = $this.css('color');
            
            //if the tile rotates, we'll use the colors of the front face
            if($this.hasClass('rotate3d')) {
              frontface = $this.find('.front');
              bgcolor = frontface.css('background-color');
              textColor = frontface.css('color');
            }

            //if the tile has an image and a caption, we'll use the caption styles
            if($this.hasClass('fig-tile')) {
              caption = $this.find('figcaption');
              bgcolor = caption.css('background-color');
              textColor = caption.css('color');
            }

        $this.on('click',function(){
          $('.'+page).css({'background-color': bgcolor, 'color': textColor})
                     .find('.close-button').css({'background-color': textColor, 'color': bgcolor});
        });
    });

    function showDashBoard(){
      for(var i = 1; i <= 3; i++) {
        $('.col'+i).each(function(){
            $(this).addClass('fadeInForward-'+i).removeClass('fadeOutback');
        });
      }
    }

    function fadeDashBoard(){
      for(var i = 1; i <= 3; i++) {
        $('.col'+i).addClass('fadeOutback').removeClass('fadeInForward-'+i);
      }
    }
  
    
  //listen for when a tile is clicked
  //retrieve the type of page it opens from its data attribute
  //based on the type of page, add corresponding class to page and fade the dashboard
  $('.tile').each(function(){
    var $this= $(this),
        pageType = $this.data('page-type'),
        page = $this.data('page-name');
        
    $this.on('click',function(){
      if(pageType === "s-page"){
          fadeDashBoard();
          $('.'+page).addClass('slidePageInFromLeft').removeClass('slidePageBackLeft');
        }
        else{
          $('.'+page).addClass('openpage');
          fadeDashBoard();
        }
    });
  });

  //when a close button is clicked:
  //close the page
  //wait till the page is closed and fade dashboard back in
  $('.r-close-button').click(function(){
      $(this).parent().addClass('slidePageLeft')
          .one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function(e) {
                $(this).removeClass('slidePageLeft').removeClass('openpage');
              });
      showDashBoard();
  });
  $('.s-close-button').click(function(){
      $(this).parent().removeClass('slidePageInFromLeft').addClass('slidePageBackLeft');
      showDashBoard();
  });

})();

</script>
